[submodule "resources/sensible-defaults.el"]
path = resources/sensible-defaults.el
url = git@github.com:hrs/sensible-defaults.el.git

[submodule "resources/ignoramus"]
path = resources/ignoramus
url = git@github.com:rolandwalker/ignoramus.git
